# Ignore compiled python files
*.pyc

# Ignore compiled c files
*.o
*.so

# Ignore zipped directories
*.zip
*.tgz

# Ignore outputs for 1st project
proj1/output/
proj1/runs.csv

#Ignore binaries from 1st project
proj1/test