# Ignore compiled python files
*.pyc

# Ignore compiled c files
*.o
*.so

# Ignore inputs and outputs for 1st project
proj1/output/
proj1/perm/
proj1/sorted/
proj1/runs.csv
#Ignore binaries from 1st project
proj1/test